DISCORD_TOKEN=DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
BING_SEARCH_KEY=あなたのBing Search APIキー
NITTER_HOST=https://nitter.net
SNS_QUERY=乃木坂46 OR #乃木坂46 OR nogizaka46
